# Node (React)
node_modules/
dist/
dist-ssr
*.local

# Java (Spring Boot)
target/
!.mvn/wrapper/maven-wrapper.jar
build/
.sts4-cache/

# IDEs e Sistema
.vscode/
.idea/
.settings/
.classpath
.project
*.log
.DS_Store